@charset "UTF-8";

/* user */

#wrap {margin:auto; width:700px;}

header {height:100px;}
#logo {color:#000; font-weight:bold; font-size:30px;}

section {width:250px;}
#signinBtn {color:#fff;}
#signupBtn {color:#fff;}
#signupLink {color:#000;}


/* timeline */

#timelineHeader {height:180px;}

#timelineWrap {margin:auto; width:900px;}
#timelineAround {width:900px;}

#timelineLogo {color:#000; font-weight:bold; font-size:60px;} 
#signInUpUrl {color:#000; font-weight:bold;}

#editionCard {width:300px; height:300px;}
#edtioncard {width:200px; height:200px;}

/* gnb(general) */

#gnbLogo {color:#000; font-weight:bold; font-size:20px;}